USE [TestDb]
GO
/****** Object:  Table [dbo].[ActionCode]    Script Date: 24-08-2025 02:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActionCode](
	[ActionCodeId] [int] IDENTITY(1,1) NOT NULL,
	[ActionCodeName] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActionCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 24-08-2025 02:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DenialDescription]    Script Date: 24-08-2025 02:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DenialDescription](
	[DenialId] [int] IDENTITY(1,1) NOT NULL,
	[DenialText] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DenialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rca]    Script Date: 24-08-2025 02:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rca](
	[RcaId] [int] IDENTITY(1,1) NOT NULL,
	[RcaName] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RcaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RcaAcSetup]    Script Date: 24-08-2025 02:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RcaAcSetup](
	[SetupId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[DenialId] [int] NULL,
	[RcaId] [int] NULL,
	[ActionCodeId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SetupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActionCode] ON 

INSERT [dbo].[ActionCode] ([ActionCodeId], [ActionCodeName], [IsActive]) VALUES (2, N'Claim Reprocessed', 1)
INSERT [dbo].[ActionCode] ([ActionCodeId], [ActionCodeName], [IsActive]) VALUES (3, N'Claim Reprocessed', 1)
INSERT [dbo].[ActionCode] ([ActionCodeId], [ActionCodeName], [IsActive]) VALUES (4, N'''Claim Reprocessed', 1)
SET IDENTITY_INSERT [dbo].[ActionCode] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName], [IsActive]) VALUES (2, N'Additional Information Needed', 1)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [IsActive]) VALUES (3002, N'Problem Definition', 1)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [IsActive]) VALUES (3003, N'Corrective Actions', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[DenialDescription] ON 

INSERT [dbo].[DenialDescription] ([DenialId], [DenialText], [IsActive]) VALUES (2, N'252: An attachment/other documentation is required to adjudicate this claim/service. At least one Remark Code must be provided', 1)
INSERT [dbo].[DenialDescription] ([DenialId], [DenialText], [IsActive]) VALUES (3, N'252: An attachment/other documentation is required to adjudicate this claim/service. At least one Remark Code must be provided', 1)
INSERT [dbo].[DenialDescription] ([DenialId], [DenialText], [IsActive]) VALUES (4, N'B12: Services not documented in patient''''s medical records.', 1)
SET IDENTITY_INSERT [dbo].[DenialDescription] OFF
GO
SET IDENTITY_INSERT [dbo].[Rca] ON 

INSERT [dbo].[Rca] ([RcaId], [RcaName], [IsActive]) VALUES (2, N'Other Information from Patient', 1)
INSERT [dbo].[Rca] ([RcaId], [RcaName], [IsActive]) VALUES (3, N'Other Information from Patient', 1)
INSERT [dbo].[Rca] ([RcaId], [RcaName], [IsActive]) VALUES (4, N'Other insurance EOB', 1)
SET IDENTITY_INSERT [dbo].[Rca] OFF
GO
SET IDENTITY_INSERT [dbo].[RcaAcSetup] ON 

INSERT [dbo].[RcaAcSetup] ([SetupId], [CategoryId], [DenialId], [RcaId], [ActionCodeId], [CreatedAt]) VALUES (1002, 2, 3, 3, 3, CAST(N'2025-08-20T13:28:08.8773497' AS DateTime2))
INSERT [dbo].[RcaAcSetup] ([SetupId], [CategoryId], [DenialId], [RcaId], [ActionCodeId], [CreatedAt]) VALUES (3002, 2, 4, 3, 3, CAST(N'2025-08-23T20:24:51.8367903' AS DateTime2))
INSERT [dbo].[RcaAcSetup] ([SetupId], [CategoryId], [DenialId], [RcaId], [ActionCodeId], [CreatedAt]) VALUES (3003, 3003, 2003, 2005, 2002, CAST(N'2025-08-23T20:33:40.5940198' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RcaAcSetup] OFF
GO
ALTER TABLE [dbo].[ActionCode] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DenialDescription] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Rca] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RcaAcSetup] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RcaAcSetup]  WITH CHECK ADD FOREIGN KEY([ActionCodeId])
REFERENCES [dbo].[ActionCode] ([ActionCodeId])
GO
ALTER TABLE [dbo].[RcaAcSetup]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[RcaAcSetup]  WITH CHECK ADD FOREIGN KEY([DenialId])
REFERENCES [dbo].[DenialDescription] ([DenialId])
GO
ALTER TABLE [dbo].[RcaAcSetup]  WITH CHECK ADD FOREIGN KEY([RcaId])
REFERENCES [dbo].[Rca] ([RcaId])
GO
/****** Object:  StoredProcedure [dbo].[DeleteRCASetup]    Script Date: 24-08-2025 02:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteRCASetup]
    @RCAId INT
AS
--exec DeleteRCASetup 1002
BEGIN
    SET NOCOUNT ON;

    -- Optional: Check if record exists before deleting
    IF EXISTS (SELECT 1 FROM [dbo].[RcaAcSetup] WHERE SetupId = @RCAId)
    BEGIN
        DELETE FROM [dbo].[RcaAcSetup]
        WHERE SetupId = @RCAId;

        PRINT 'Record deleted successfully.';
    END
    ELSE
    BEGIN
        PRINT 'Record not found.';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddNewItem]    Script Date: 24-08-2025 02:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddNewItem]
    @Type NVARCHAR(50),
    @Name NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Type = 'Category'
        INSERT INTO dbo.Category (CategoryName) VALUES (@Name);

    ELSE IF @Type = 'Denial'
        INSERT INTO dbo.DenialDescription (DenialText) VALUES (@Name);

    ELSE IF @Type = 'RCA'
        INSERT INTO dbo.Rca (RcaName) VALUES (@Name);

    ELSE IF @Type = 'ActionCode'
        INSERT INTO dbo.ActionCode (ActionCodeName) VALUES (@Name);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddRcaAcSetup]    Script Date: 24-08-2025 02:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddRcaAcSetup]
    @CategoryId INT,
    @DenialId INT,
    @RcaId INT,
    @ActionCodeId INT
AS
BEGIN
    INSERT INTO dbo.RcaAcSetup (CategoryId, DenialId, RcaId, ActionCodeId)
    VALUES (@CategoryId, @DenialId, @RcaId, @ActionCodeId);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteActionCode]    Script Date: 24-08-2025 02:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteActionCode]
    --@Type NVARCHAR(50),
    @actionCode int
AS
BEGIN
    SET NOCOUNT ON;

    --IF @Type = 'Category'

	DELETE dbo.ActionCode Where ActionCodeId = @actionCode
        --INSERT INTO dbo.Category (CategoryName) VALUES (@Name);

 --   ELSE IF @Type = 'Denial'
	--DELETE dbo.Category Where CategoryId = @id
 --       --INSERT INTO dbo.DenialDescription (DenialText) VALUES (@Name);

 --   ELSE IF @Type = 'RCA'
 --       INSERT INTO dbo.Rca (RcaName) VALUES (@Name);

 --   ELSE IF @Type = 'ActionCode'
 --       INSERT INTO dbo.ActionCode (ActionCodeName) VALUES (@Name);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCategory]    Script Date: 24-08-2025 02:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DELETE dbo.Category Where CategoryId = 2
--select * from dbo.Category where  CategoryId = 2
--exec sp_DeleteCategory 1

CREATE PROCEDURE [dbo].[sp_DeleteCategory]
    @catagoryId int
AS
BEGIN
    SET NOCOUNT ON;

	DELETE dbo.Category Where CategoryId = @catagoryId

END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDenial]    Script Date: 24-08-2025 02:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteDenial]
    @denialId int
AS
BEGIN
    SET NOCOUNT ON;

	DELETE dbo.DenialDescription Where DenialId = @denialId

END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteRCA]    Script Date: 24-08-2025 02:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteRCA]
    --@Type NVARCHAR(50),
    @rcaId int
AS
BEGIN
    SET NOCOUNT ON;

    --IF @Type = 'Category'

	DELETE dbo.Rca Where RcaId = @rcaId
        --INSERT INTO dbo.Category (CategoryName) VALUES (@Name);

 --   ELSE IF @Type = 'Denial'
	--DELETE dbo.Category Where CategoryId = @id
 --       --INSERT INTO dbo.DenialDescription (DenialText) VALUES (@Name);

 --   ELSE IF @Type = 'RCA'
 --       INSERT INTO dbo.Rca (RcaName) VALUES (@Name);

 --   ELSE IF @Type = 'ActionCode'
 --       INSERT INTO dbo.ActionCode (ActionCodeName) VALUES (@Name);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDropdowns]    Script Date: 24-08-2025 02:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetDropdowns]
AS
BEGIN
    SELECT CategoryId AS Id, CategoryName AS Text FROM dbo.Category WHERE IsActive=1;
    SELECT DenialId AS Id, DenialText AS Text FROM dbo.DenialDescription WHERE IsActive=1;
    SELECT RcaId AS Id, RcaName AS Text FROM dbo.Rca WHERE IsActive=1;
    SELECT ActionCodeId AS Id, ActionCodeName AS Text FROM dbo.ActionCode WHERE IsActive=1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRcaAcSetup]    Script Date: 24-08-2025 02:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [sp_GetRcaAcSetup]
CREATE   PROCEDURE [dbo].[sp_GetRcaAcSetup]
AS
BEGIN
    SELECT s.SetupId,
           c.CategoryName,
           d.DenialText,
           r.RcaName,
           a.ActionCodeName
    FROM dbo.RcaAcSetup s
    JOIN dbo.Category c ON s.CategoryId = c.CategoryId
    JOIN dbo.DenialDescription d ON s.DenialId = d.DenialId
    JOIN dbo.Rca r ON s.RcaId = r.RcaId
    JOIN dbo.ActionCode a ON s.ActionCodeId = a.ActionCodeId
    ORDER BY s.SetupId DESC;
END
GO
